.Url
{
    padding: 10px 0;
}

.Url-name
{
    padding: 5px 0;
}

.Url-name > a
{
    text-decoration: none;

    color: #6a6a6a;
}

.Url-name > a:hover
{
    color: #306bff;
}

.Url-short
{
    display: inline-block;

    width: 50%;

    cursor: copy;
}

.Url-clicks
{
    display: inline-block;

    width: 50%;

    text-align: right;
}

.Url-copy
{
    font-size: 7pt;

    margin: 0 10px;

    cursor: pointer;
    vertical-align: top;

    color: #ff5c30;
    border: 1px solid #ff5c30;
    outline: none;
    background-color: white;
}

.Url-copy:active
{
    color: #ff7b57;
    border: 1px solid #ff7b57;
}
